<table class="min-w-full bg-white" id="phases_table">
  <thead class="border-b border-gray-200 ">
    <tr class="border-b border-gray-200">
      <th class="py-2 pr-4 text-left"></th>
      <th class="py-2 pr-4 text-left text-nowrap">Nome</th>
      <th class="py-2 pr-4 text-left text-nowrap">Descrição</th>
      <th class="py-2 pr-4 text-left text-nowrap">Fim de Fase</th>
      <th class="py-2 pr-4 text-left text-nowrap">Ações</th>
    </tr>
  </thead>
  <tbody data-controller="sortable">
    <% phases.each do |phase| %>
      <%= render partial: 'admin/phases/phase_row', locals: { phase: phase } %>
    <% end %>
  </tbody>
</table>