<div class="space-y-4 w-custom-752 max-w-full">
  <div class="space-y-2 animate-pulse">
    <% 5.times do %>
      <div class="grid grid-cols-10 gap-2 p-2">
        <div class="col-span-8 h-12 bg-gray-200 rounded w-full"></div>
        
        <div class="col-span-2 flex space-x-2">
          <div class="h-12 bg-blue-300 rounded w-16"></div>
          <div class="h-12 bg-red-300 rounded w-16"></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
