<div class="flex items-center justify-between bg-white shadow p-4">
  <div class="flex items-center">
    
  </div>
  <div class="flex items-center space-x-4">
    <span class="text-gray-700 font-medium">Usuário: <%= current_user.username %></span>
    <%= link_to 'Logout', destroy_user_session_path, data: { "turbo-method": :delete }, class: 'text-red-500 hover:text-red-700' %>
  </div>
</div>